<launch>
  <arg name="ns_1" default="alien1" />
  <arg name="ns_2" default="alien2" />
  <arg name="robot_type" default="aliengo" />
  <arg name="rviz_config" default="$(find multi_legged_controllers)/config/rviz.rviz" />

  <group ns="$(arg ns_1)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_tf_publisher"
      args="0 -0.5 0 0 0 0 1 map $(arg ns_1)_odom" />

    <param name="legged_robot_description"
      command="$(find xacro)/xacro $(find custom_description)/urdf/connected_robots/robot_with_prefix.xacro 
                  ns:=$(arg ns_1) robot_type:=$(arg robot_type) sim:=true prefix:=$(arg ns_1)_" />
  </group>

  <group ns="$(arg ns_2)">
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_tf_publisher"
      args="0 0.5 0 0 0 0 1 map $(arg ns_2)_odom" />

    <param name="legged_robot_description"
      command="$(find xacro)/xacro $(find custom_description)/urdf/connected_robots/robot_with_prefix.xacro 
                  ns:=$(arg ns_2) robot_type:=$(arg robot_type) sim:=true prefix:=$(arg ns_2)_" />
  </group>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" output="screen" />

</launch>