<launch>
    <arg name="gui" default="true" />
    <arg name="wname" default="empty_world" />
    <arg name="robot_type" default="aliengo" />
    <arg name="ns_1" default="robot_1" />
    <arg name="ns_2" default="robot_2" />
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.0" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"
            value="$(find multi_legged_controllers)/launch/worlds/$(arg wname).world" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <include file="$(find multi_legged_controllers)/launch/load_robot_parameter.launch">
        <arg name="robot_type" value="$(arg robot_type)" />
        <arg name="ns" value="$(arg ns_1)" />
    </include>

    <include file="$(find multi_legged_controllers)/launch/load_robot_parameter.launch">
        <arg name="robot_type" value="$(arg robot_type)" />
        <arg name="ns" value="$(arg ns_2)" />
    </include>

    <param name="connected_legged_robot_description"
        command="$(find xacro)/xacro $(find multi_legged_controllers)/urdf/connected_robot.xacro 
        sim:=true robot_type:=$(arg robot_type) ns_1:=$(arg ns_1) ns_2:=$(arg ns_2)" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" clear_params="true"
        args="-x $(arg x) -y $(arg y) -z 1 -param connected_legged_robot_description -urdf -model combined_model"
        output="screen" />

    <include file="$(find multi_legged_controllers)/launch/rviz.launch">
        <arg name="robot_type" value="$(arg robot_type)" />
        <arg name="ns_1" value="$(arg ns_1)" />
        <arg name="ns_2" value="$(arg ns_2)" />
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
    </include>

</launch>